* {
  box-sizing: border-box;
}

body{
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

html {
  font-size: 10px;
}
